
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChiTietGiayChungNhan</title>
</head>
<body>
    <div> 
        <h2>Chi tiết giấy chứng nhận</h2>
    </div>
</body>
</html>
